{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ message }}
    {% else %}
        Вы не зарегистрированы
    {% endif %}
    </h3>
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="container">
        <div class="container my-3 px-0">
            <strong>Имя:</strong>
            <p>{{ user.name }}</p>
            <strong>Email:</strong>
            <p>{{ user.email }}</p>
            <strong>Дата регистрации:</strong>
            <p>{{ user.createdAt|date("Y/m/d H:i:s") }}</p>
            <strong>Разрешено создавать статьи и комментарии:</strong>
            {% if user.isBanned() %}
                Нет
            {% else %}
                Да
            {% endif %}
        </div>

        <a class="btn btn-secondary" href="{{ path('homepage') }}">Домой</a>

        <a class="btn btn-primary mx-3" href="{{ path('edit_user') }}">Редактировать</a>
    </div>
{% endif %}

{% endblock %}
