{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{ article.title }}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>{{ article.title }}</h3>
</div>

<div class="container">
	{{ article.content }}
    <div class="article-author-date text-right">
        {% if article.author %}<p class="mb-0">{{article.author}}</p>{% endif %}
        <p>{{ article.datetime|date('Y-m-d H:i:s') }}</p>
    </div>
    {% include '/blog/prevNextBtn.html.twig' %}
</div>

{% endblock %}