{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{ article.title }}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>{{ article.title }}</h3>
</div>

<div class="container">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="clearfix mb-3">
        <div class="float-right">
            <a class="btn btn-danger btn-sm" 
                href="{{ path('article_delete', {'id': article.id}) }}" role="button">Удалить статью</a>
        </div>
        <div class="float-right mr-3">
            <a class="btn btn-primary btn-sm" 
                href="{{ path('article_edit', {'id': article.id}) }}" role="button">Редактировать статью</a>
        </div>
    </div>
    {% endif %}
    {{ article.content|raw }}
    <div class="article-author-date text-right">
        {% if article.category %}<p class="mb-0">{{article.category}}</p>{% endif %}
        {% if article.author %}<p class="mb-0">{{article.author}}</p>{% endif %}
        <div class="my-0">
            <small>
                <p class="my-0">Дата создания:</p>
                <p class="my-0">{{ article.createdAt|date('Y-m-d H:i:s') }}</p>
                <p class="my-0">Дата изменения:</p>
                <p class="my-0">{{ article.updatedAt|date('Y-m-d H:i:s') }}</p>
            </small>
        </div>
    </div>

    <div class="row">
        <div class="ml-auto mr-3">
            {% if previousPage %}
                <a class="btn btn-secondary" href="{{path('article_view', {'id': previousPage})}}" role="button">Предыдущая статья</a>
            {% endif %}
        </div>
        <div class="mr-auto mr-3">
            {% if nextPage %}
                <a class="btn btn-secondary" href="{{path('article_view', {'id': nextPage})}}" role="button">Следующая статья</a>
            {% endif %}
        </div>
    </div>

    <div class="container mt-5">
        <div class="container my-3 px-0">
            {{ render(controller('App\\Controller\\CommentController:getArticleComments', { 'request': request, 'article': article })) }}
        </div>
        <hr>
    </div>

</div>    
{% endblock %}