{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{pageTitle}}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>Список статей</h3>
</div>

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr class="d-flex">
				<th class="col-10" scope="col">	Статья</th>
				<th class="col-2" scope="col">Дата</th>
			</tr>
		</thead>
		<tbody>
			<tr class="d-flex">
				<td class="col-10">
					<a href="{{path('articleGet', {'id': 1})}}">Model-View-Controller</a>
				</td>
				<td class="col-2">2019-03-18 20:23:05</td>
			</tr>
			<tr class="d-flex">
				<td class="col-10">
					<a href="{{path('articleGet', {'id': 2})}}">Объектно-ориентированное программирование</a>
				</td>
				<td class="col-2">2019-03-18 20:23:30</td>
			</tr>
			<tr class="d-flex">
				<td class="col-10">
					<a href="{{path('articleGet', {'id': 3})}}">Bootstrap</a>
				</td>
				<td class="col-2">2019-03-18 20:23:43</td>
			</tr>
			<tr class="d-flex">
				<td class="col-10">
					<a href="{{path('articleGet', {'id': 4})}}">Bootstrap (фреймворк)</a>
				</td>
				<td class="col-2">2019-03-18 20:23:56</td>
			</tr>
			<tr class="d-flex">
				<td class="col-10">
					<a href="{{path('articleGet', {'id': 5})}}">HTML</a>
				</td>
				<td class="col-2">2019-03-18 22:07:37</td>
			</tr>
		</tbody>
	</table>
</div>
{% set orderTitleBy, orderAuthorBy, orderDatetimeBy = 'asc', 'asc', 'asc' %}
{% set iconOrderTitleBy, iconOrderAuthorBy, iconOrderDatetimeBy = ' text-black-50', ' text-black-50', ' text-black-50' %}

{% if orderBy == 'title' %}
 	{% if directionOrder == 'asc' %}
		{% set orderTitleBy = 'desc' %}
		{% set iconOrderTitleBy = '-desc' %}
	{% else %}
		{% set iconOrderTitleBy = '-asc' %}
	{% endif %}
{% endif %}
{% if orderBy == 'author' %}
 	{% if directionOrder == 'asc' %}
		{% set orderAuthorBy = 'desc' %}
		{% set iconOrderAuthorBy = '-desc' %}
	{% else %}
		{% set iconOrderAuthorBy = '-asc' %}
	{% endif %}
{% endif %}
{% if orderBy == 'datetime' %}
 	{% if directionOrder == 'asc' %}
		{% set orderDatetimeBy = 'desc' %}
		{% set iconOrderDatetimeBy = '-desc' %}
	{% else %}
		{% set iconOrderDatetimeBy = '-asc' %}
	{% endif %}
{% endif %}

<div class="container">
	<table class="table table-striped">
		<thead>
			<tr class="d-flex">
				<th class="col-8" scope="col">
					{# почему-то не работает {{ path('blog', {'orderBy': 'title', 'directionOrder':  orderTitleBy }) }} #}
					<a href="{{ path('blog', {'orderBy': 'title'}) ~ '/' ~ orderTitleBy }}">Статья <i class="fa fa-sort{{ iconOrderTitleBy }}"></i></a>
				</th>
				<th class="col-2" scope="col">
					<a href="{{ path('blog', {'orderBy': 'author'}) ~ '/' ~ orderAuthorBy }}">Автор <i class="fa fa-sort{{ iconOrderAuthorBy }}"></i></a>
				</th>
				<th class="col-2" scope="col">
				{# почему-то не работает {{ path('blog', {'orderBy': 'datetime'}) }} #}
					<a href="{{ path('blog') ~ '/datetime/' ~ orderDatetimeBy }}">Дата <i class="fa fa-sort{{ iconOrderDatetimeBy }}"></i></a>
				</th>
			</tr>
		</thead>
		<tbody>
		{% for article in articles %}
			<tr class="d-flex">
				<td class="col-8">
					<a href="{{ path('articleGet', {'id': article.id}) }}">{{ article.title }}</a>
				</td>
				<td class="col-2">{% if article.author %}{{ article.author }}{% else %}-{% endif %}</td>
				<td class="col-2">{{ article.datetime|date('Y-m-d H:i:s') }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}