{% extends 'base.html.twig' %}

{% block title %}Создаем MVC-блог на Symfony / {{pageTitle}}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h3>Список статей</h3>
</div>

{% set direction = articles.getDirection() %}

<div class="container">
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="float-right mb-3">
        <a class="btn btn-primary btn-sm" href="{{ path('article_new') }}">Создать новую статью</a>
    </div>
	{% endif %}
	<table class="table table-striped">
		<thead>
			<tr class="d-flex">
				<th class="col-8" scope="col">
					{{ knp_pagination_sortable(articles, 'Статья', 'a.title') }}
					<i class="fa fa-sort
						{%- if articles.isSorted('a.title') -%} -{{ direction }} {%- else -%} {{ ' text-black-50' }} {%- endif -%}
					"></i>
				</th>
				<th class="col-2 {% if articles.isSorted('a.author') %}sorted{% endif %}" scope="col">
					{{ knp_pagination_sortable(articles, 'Автор', 'a.author') }}
					<i class="fa fa-sort
						{%- if articles.isSorted('a.author') -%} -{{ direction }} {%- else -%} {{ ' text-black-50' }} {%- endif -%}
					"></i>
				</th>
				<th class="col-2" scope="col">
					{{ knp_pagination_sortable(articles, 'Дата', 'a.updatedAt') }}
					<i class="fa fa-sort
						{%- if articles.isSorted('a.updatedAt') -%} -{{ direction }} {%- else -%} {{ ' text-black-50' }} {%- endif -%}
					"></i>
				</th>
			</tr>
		</thead>
		<tbody>
		{% for article in articles %}
			<tr class="d-flex">
				<td class="col-8">
					<a href="{{ path('article_view', {'id': article.id}) }}">{{ article.title }}</a>
				</td>
				<td class="col-2">{% if article.author %}{{ article.author }}{% else %}-{% endif %}</td>
				<td class="col-2">{{ article.updatedAt|date('Y-m-d H:i:s') }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	<div class="navigation">
		{{ knp_pagination_render(articles, null, {}, {
			'align': 'center',
		}) }}
    </div>
</div>
{% endblock %}